{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}



{{!-- The main content area --}}
<main id="site-main" class="site-main posts-outer-container">
    <div class="header-container inner">
        <a class="header-logo" href="/">
            {{#if @blog.logo}}
                <img class="site-logo" src="{{img_url @blog.logo size="s"}}" alt="{{@blog.title}}" />
            {{else}}
                {{@blog.title}}
            {{/if}}
        </a>
        <h2 class="header-desc">{{@blog.description}}</h2>
        <a target="_blank" href="https://github.com/WalkerFrederick" class="header-button-outer">
            <button class="header-button">GitHub</button>
        </a>
        <a target="_blank" href="https://twitter.com/WFrederickTweet" class="header-button-outer">
            <button class="header-button">Twitter</button>
        </a>

    </div>
    <div class="post-container">
    <h1 class="post-scroll-title">Projects</h1>
    <div class="post-scroll">
        {{#get "posts" limit="all" filter="tags: project"}}
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        {{/get}}
    </div>
    <h1 class="post-scroll-title">Development</h1>
    <div class="post-scroll">
        {{#get "posts" limit="all" filter="tags: development"}}
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        {{/get}}
    </div>
    <h1 class="post-scroll-title">All Posts</h1>
    <div class="post-scroll">
        {{#get "posts" limit="all" filter="featured:false"}}
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        {{/get}}
    </div>
    </div>

    {{> footer }}

</main>

