{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> "site-header"}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main" role="main">
  <div class="site-main__content">

    <article class="post-full {{post_class}}">

      <header class="post-full__header">
        <section class="post-full__meta">
          <time class="post-full__meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM, YYYY"}}</time>
        </section>
        <h1 class="post-full__title">{{title}}</h1>

        {{#if feature_image}}
        <img class="post-full__image" src="{{feature_image}}" />
        {{/if}}
      </header>

      <section class="post-full__content">
        {{content}}
      </section>

      {{!-- Email subscribe form at the bottom of the page --}}
      {{#if @labs.subscribers}}
      <section class="subscribe-form">
        <h3 class="subscribe-form-title">Subscribe to {{@blog.title}}</h3>
        <p>Get the latest posts delivered right to your inbox</p>
        {{subscribe_form placeholder="youremail@example.com"}}
      </section>
      {{/if}}

      {{> "disqus-comments"}}

    </article>

  </div>
</main>
{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

// NOTE: Scroll performance is poor in Safari
// - this appears to be due to the events firing much more slowly in Safari.
//   Dropping the scroll event and using only a raf loop results in smoother
//   scrolling but continuous processing even when not scrolling
$(document).ready(function () {
    // Start fitVids
    var $postContent = $(".post-full__content");
    $postContent.fitVids();
    // End fitVids

    var progress = document.querySelector('progress');
    var title = document.querySelector('.post-full__title');

    var lastScrollY = window.scrollY;
    var lastWindowHeight = window.innerHeight;
    var lastDocumentHeight = $(document).height();
    var ticking = false;

    function onScroll() {
        lastScrollY = window.scrollY;
        requestTick();
    }

    function onResize() {
        lastWindowHeight = window.innerHeight;
        lastDocumentHeight = $(document).height();
        requestTick();
    }

    function requestTick() {
        if (!ticking) {
            requestAnimationFrame(update);
        }
        ticking = true;
    }

    function update() {
        var trigger = title.getBoundingClientRect().top + window.scrollY;
        var triggerOffset = title.offsetHeight + 35;
        var progressMax = lastDocumentHeight - lastWindowHeight;

        progress.setAttribute('max', progressMax);
        progress.setAttribute('value', lastScrollY);

        ticking = false;
    }

    window.addEventListener('scroll', onScroll, {passive: true});
    window.addEventListener('resize', onResize, false);

    update();
});
</script>
{{/contentFor}}
