<!DOCTYPE html>
<html>
<head>

  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset "built/layout.css"}}" />

  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}

</head>
<body class="{{body_class}}">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-7 offset-md-1 content">
        {{{block "section-header"}}}

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
      </div>
      <div class="col-md-3 offset-md-1 sidebar">
        <div class="intro">
          <div class="image">
            <img src="{{@blog.cover_image}}" class="img-fluid" alt="{{@blog.title}}">
          </div>
          <h1>{{@blog.title}}</h1>
          <p>{{@blog.description}}</p>
        </div>
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}

        <div class="attribution">
          Open source <a href="https://ghost.org/">Ghost</a> theme by <a href="https://www.stephenson.dk/?utm_source=theme-attribution">Niklas Stephenson</a>.
        </div>
      </div>
    </div>
  </div>

  {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
  {{{block "scripts"}}}

  {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
  {{ghost_foot}}

</body>
</html>
