<div class="col-md-12 newsletter-blogpost">
  <h3>Would you like to get updated on what I write?</h3>
  <p>Join my newsletter, I maximum send out once a month and keep on topic.</p>
  <form method="post" action="{{action}}" class="{{form_class}}">
    {{hidden}}
    <div class="row justify-content-md-center">
      <div class="col-sm-8">
        <div class="form-group{{#if error}} error{{/if}}">
          {{input_email class="form-control" placeholder=placeholder value=email autofocus=autofocus}}
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <button class="btn btn-primary {{button_class}}" type="submit">Subscribe</button>
        </div>
      </div>
    </div>
    <input type="hidden" name="url" value="<%= current_page.url %>">
    {{script}}
  </form>
  {{#if error}}
    <p class="main-error">{{ error.message }}</p>
  {{/if}}
</div>
