<div class="post-card {{ primary_tag.slug }}{{# if condensed }} condensed{{/ if }}">
  <a href="{{ url }}">
    <h2 class="heading title not-capped">{{ title }}</h2>
    {{# unless condensed }}
    <p class="excerpt">{{ excerpt characters="140" }}</p>
    {{/ unless }}
  </a>
  <div class="metadata">
    {{# primary_tag }}
      <a href="{{ url }}" class="category">{{ name }}</a>
    {{/ primary_tag }}
    <span class="date">{{ date timeago="true" }}</span>
  </div>
</div>
